.carosello-container {
  margin: 30px auto;
  padding: 0 20px;
  max-width: 1200px;
}

.latta-card {
  padding: 10px;
  text-align: center;
}

.latta-img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.2s;
}

.latta-img:hover {
  transform: scale(1.05);
}

.latta-nome {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
}
